-- Add is_profit_counted column to orders table
ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS is_profit_counted BOOLEAN DEFAULT false;

-- Create daily_profits table
CREATE TABLE IF NOT EXISTS public.daily_profits (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    date DATE UNIQUE NOT NULL DEFAULT CURRENT_DATE,
    total_amount NUMERIC NOT NULL DEFAULT 0,
    total_orders INTEGER NOT NULL DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.daily_profits ENABLE ROW LEVEL SECURITY;

-- Create policies
CREATE POLICY "Enable read access for all users" ON public.daily_profits FOR SELECT USING (true);
CREATE POLICY "Enable insert access for all users" ON public.daily_profits FOR INSERT WITH CHECK (true);
CREATE POLICY "Enable update access for all users" ON public.daily_profits FOR UPDATE USING (true);
CREATE POLICY "Enable delete access for all users" ON public.daily_profits FOR DELETE USING (true);

-- Create function to update daily profits
CREATE OR REPLACE FUNCTION public.handle_order_profit_update()
RETURNS TRIGGER AS $$
BEGIN
    -- Only count profit if status is 'processing' or 'delivered' AND hasn't been counted yet
    IF (NEW.status = 'processing' OR NEW.status = 'delivered') AND NEW.is_profit_counted = false THEN
        -- Upsert into daily_profits for the current date
        INSERT INTO public.daily_profits (date, total_amount, total_orders)
        VALUES (CURRENT_DATE, NEW.total_amount, 1)
        ON CONFLICT (date)
        DO UPDATE SET 
            total_amount = public.daily_profits.total_amount + EXCLUDED.total_amount,
            total_orders = public.daily_profits.total_orders + 1,
            updated_at = now();

        -- Mark the order as having its profit counted
        NEW.is_profit_counted = true;
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create trigger for order updates and inserts
DROP TRIGGER IF EXISTS tr_order_profit_update ON public.orders;
CREATE TRIGGER tr_order_profit_update
    BEFORE INSERT OR UPDATE ON public.orders
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_order_profit_update();

-- Create a helper function to populate historical profits from existing orders
CREATE OR REPLACE FUNCTION public.populate_historical_profits()
RETURNS void AS $$
DECLARE
    order_record RECORD;
BEGIN
    FOR order_record IN 
        SELECT * FROM public.orders 
        WHERE (status = 'processing' OR status = 'delivered') 
        AND (is_profit_deleted IS NULL OR is_profit_deleted = false)
        AND is_profit_counted = false
    LOOP
        -- Upsert the profit based on the order's created_at date
        INSERT INTO public.daily_profits (date, total_amount, total_orders)
        VALUES (DATE(order_record.created_at), order_record.total_amount, 1)
        ON CONFLICT (date)
        DO UPDATE SET 
            total_amount = public.daily_profits.total_amount + EXCLUDED.total_amount,
            total_orders = public.daily_profits.total_orders + 1,
            updated_at = now();
            
        -- We won't update the orders here to avoid a long transaction, 
        -- we just run a bulk update after
    END LOOP;
    
    -- Bulk update all qualifying orders
    UPDATE public.orders 
    SET is_profit_counted = true 
    WHERE (status = 'processing' OR status = 'delivered') 
    AND (is_profit_deleted IS NULL OR is_profit_deleted = false)
    AND is_profit_counted = false;
END;
$$ LANGUAGE plpgsql;

-- Execute the population function once
SELECT public.populate_historical_profits();
